@import "../assets/styles/Colors";

.home {
  .text-title {
    text-align: center;
  }

  .introduction-image {
    text-align: center;
  }
  
  .home-content__element-elaboration {
    margin-top: 3vh;
  }
}

.about {
  .introduction-text-title {
    text-align: center;
  }

  .introduction-image {
    text-align: center;
  }

  .team-title {
    text-align: center;
  }

  .team-image {
    width: 100%;
    height: 100%;
  }
}