@import "../../assets/styles/Colors";

.header {
  background: $header-background;
  font-weight: 200;

  .header-content {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    max-width: 169px;
    height: 7vh;
    margin-left: 20px;
  }

  .header-content__element-link {
    text-decoration: none;
    color: $black;
    font-size: 4vh;
    margin-left: 20px;
  }

  .header-content__element-link:hover {
    color: lighten($jurni-dark-blue, 10%);
  }

  .active {
    color: $jurni-dark-blue;
    font-weight: 350;
  }
  
  .header-content__element-buttons > * {
    margin-right: 20px;
  }
  
  .header-content__element-user > * {
    margin-right: 20px;
  }
}